body {
  // background-color: #F5F8FA;
}

main {
  margin: 5% 20%;
}

nav {
  border-color: #E5F2F7;
  margin-left: 20px;
}


section {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 10px;
}

table {
  background-color: #F5F8FA;
}

.nav {
  border-color: #E5F2F7;
}

.nav-tabs {
  border-color: #E5F2F7;
  border-bottom: none;
}

.login {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.view {
  border: 1px solid #E5F2F7;
  border-radius: 5px;
}

.avatar_img {
  float: right;
  top: 5px;
  right: 5px;
  height: 120px;
  margin-top: 5px;
  margin-right: 5px;
}

#login-container {
  width: 300px;
  margin: 10% auto;
}

#logout {
  text-align: right;
}

#new-issue-btn {
  float: right;
  margin-bottom: 2%;
}

#issue-title {
  margin: 2% 0;
}

#issue-body {
  height: 180px;
  margin-bottom: 2%;
}

#submit-btn {
  float: right;
}
